@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@theme {
  --color-bluesky-blue: #1185fe;
  --color-storacha-red: #e91315;
  --color-storacha-blue: #0176ce;
  --color-storacha-yellow: #ffc83f;
}

@layer components {
  .btn {
    @apply px-2 py-1 border rounded-lg cursor-pointer hover:bg-white;
  }

  .ipt {
    @apply px-2 py-1 border rounded-lg;
  }
}
